.card {
    display: flex;
    align-items: center;
    background-color: #F8E8AC;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 0px;
    gap: 15px;
    height: 120px;
}

.card-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 10px;
}

.card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-info-top {
    display: flex;
    align-items: center;
}

.card-descripcion {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #000;
}

.card-gramaje {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}

.card-codigo {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin-top: 5px;
}

@media (max-width: 600px) {
    .card {
        flex-direction: row; /* horizontal */
        align-items: center; /* vertical align */
        padding: 10px;
        gap: 15px;
    }

    .card-img {
        width: 60px;
        height: 60px;
    }

    .card-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-info-top {
        display: flex;
        flex-direction: row; /* descripción + gramaje en la misma fila */
        align-items: center;
        gap: 8px;
    }

    .card-descripcion,
    .card-gramaje,
    .card-codigo {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }

    .card-codigo {
        margin-top: 6px;
        color: #555;
    }
}

#floating-btn {
    position: fixed;
    bottom: 120px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F8E8AC;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    font-size: 36px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 200; 
}

#floating-btn:hover {
    background-color: #e5d59c;
}

@media (max-width: 600px) {
    #floating-btn {
    bottom: 80px; 
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 28px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
    #floating-btn {
        bottom: 85px;
        right: 25px;
        width: 55px;
        height: 55px;
        font-size: 32px;
    }
}